<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Login - TermProject</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href={~p"/assets/app.css"} />
</head>
<div class="login-form">
  <h2>Log In</h2>
  <form action={~p"/login"} method="post">
    <div>
      <label for="username">Username</label>
      <input type="text" name="user[username]" id="username" required />
    </div>

    <div>
      <label for="password">Password</label>
      <input type="password" name="user[password]" id="password" required />
    </div>

    <div>
      <button type="submit">Log In</button>
    </div>
  </form>

  <h2>Continue as Guest</h2>
  <form action={~p"/guest_login"} method="post">
    <div>
      <label for="guest_username">Username</label>
      <input type="text" name="guest_username" id="guest_username" required />
    </div>

    <div>
      <button type="submit">Enter Lobby</button>
    </div>
  </form>
</div>
</html>