<div class="register-form">
  <h2>Register</h2>
  <form action={~p"/register"} method="post">
    <div>
      <label for="username">Username</label>
      <input type="text" name="user[username]" id="username" required />
    </div>

    <div>
      <label for="password">Password</label>
      <input type="password" name="user[password]" id="password" required />
    </div>

    <div>
      <button type="submit">Register</button>
    </div>
  </form>
</div>
