<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="csrf-token" content="<%= @csrf_token %>">
  <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/assets/app.css") %>">
  <script defer src="<%= Routes.static_path(@conn, "/assets/app.js") %>"></script>
</head>
